body
{
    font-family: Arial, Helvetica, sans-serif;
}

label
{
    width: 120px;
    display: inline-block;
    text-align: right;
}

#content
{
    border: 1px dotted purple;
    padding: 1em;
}

#pos
{
    width: 50px;
}

.message {
    /* display: inline-block; */
    margin: 1em;
    padding: 0.6em 1em;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #eee;
}

.message--success {
    background-color: hsl(120, 50%, 90%);
    color: hsl(120, 76%, 36%);
    border-color: hsl(120, 76%, 36%);
}

.message--error {
    background-color: hsl(7, 50%, 90%);
    color: hsl(7, 76%, 36%);
    border-color: hsl(7, 76%, 36%);
}

.message--warning {
    background-color: hsl(37, 50%, 90%);
    color: hsl(37, 76%, 36%);
    border-color: hsl(37, 76%, 36%);
}

.message--info {
    background-color: hsl(209, 50%, 90%);
    color: hsl(209, 76%, 36%);
    border-color: hsl(209, 76%, 36%);
}