body
{
    font-family: Arial, Helvetica, sans-serif;
}

header, footer
{
    background-color: lightgrey;
}

main
{
    background-color: lightskyblue;
    padding: 1em;
    /* display: flex;
    justify-content: space-between; */
    
}

section
{
    background-color: white;
    border: 1px solid coral;
    width: 48%;
    
}

#columns
{
    display: flex;
    justify-content: space-between;
}